[submodule "LibHelper"]
	path = LibHelper
	url = https://github.com/jbautistam/LibHelper
[submodule "LibMarkup"]
	path = LibMarkup
	url = https://github.com/jbautistam/LibMarkup
[submodule "Modules/LibHelper"]
	path = Modules/LibHelper
	url = https://github.com/jbautistam/LibHelper
[submodule "Modules/LibMarkup"]
	path = Modules/LibMarkup
	url = https://github.com/jbautistam/LibMarkup
